// SCSS for the Data display

.data{
  grid-area: data;
  border-left: 1px solid black;
  background: #282828;
}

.heading--md{
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 20px 0px 20px 20px;
  color: #dbdbdb;
  background-color: #000000;
  box-shadow: 0 2px 0px rgba(180, 180, 180, 0.35);
  font-size: 20px;
  text-align: left;
  text-decoration: underline;
}

.heading--sm{
  width: 100%;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 20px 0px 20px 20px;
  color: #dbdbdb;
  background-color: #000000;
  box-shadow: 0 2px 0px rgba(180, 180, 180, 0.35);
  font-size: 1rem;
  text-align: left;
  text-decoration: underline;
}

.display{
  margin: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper__metadata{
  list-style-type: none;
}

.metadata__item{
  color : #dbdbdb;
}


.display--dynamic{
  width: 100%;
}

.display__entry{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items:center;
}

.card{
  border: 1px solid black;
  padding: 5px;
}

.img-browsing{
  grid-area: strip;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}