// SCSS for the Data display

.data{
  grid-area: data;
  border-left: 1px solid black;
  background: #282828;
}


.display{
  margin: 5px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.wrapper__metadata{
  list-style-type: none;
}

.metadata__item{
  color : #dbdbdb;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}


.display--dynamic{
  width: 100%;
}
// TODO fix naming for swatches, cards, displays
.display__entry{
  width: 65%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #909090;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items:center;
}

.card--color{
  margin: 10px;
}

.img-browsing{
  grid-area: strip;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}