main{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-rows: 3fr 2fr 1.5rem 3fr;
  grid-template-areas:
    "intro img img img"
    "intro img img img"
    ". button button button"
    "strip strip strip strip";
  min-height: 100vh;
}

.intro{
  grid-area: intro;
}

.js-danger-popup{
  padding: 10px;
  color:white;
  background:red;
  font-weight:bold;
}

.drop__target{
  width: 200px;
  height: 200px;
  border: 3px dashed grey;
}

.upload__row{
  display: flex;
  flex-flow: column nowrap;
}
.upload__label{
  display: block;
}

.btn--upload{
  display: block;
}

.img-handling{
  grid-area: img;
  display: grid;
  grid-template-columns: 1fr 1fr .75fr;
  grid-template-areas:
    "canvas canvas data";
  margin: 10px;
  border-radius: 15px;
  border: 0.75px solid black;
}


.canvas-wrapper{
  grid-area: canvas;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data{
  grid-area: data;
}

.heading--md{
  text-align: center;
  margin-bottom: 50px;
}

.display{
  margin: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.display__entry{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items:center;
}

.display__card{
  border: 1px solid black;
}

.button-group{
  grid-area: button;
  margin-left: 15px;
  margin-right: 20px;
}

.btn{
  background-color: #007bff;
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  &:hover {
    background-color: darken(#007bff, 15%);
  }
}

.strip{
  grid-area: strip;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.strip__item{
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid grey;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.strip__img{
  max-height: 7.5rem;
  width: auto;
}

