main{
  display:grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 3fr 2fr 3fr;
  grid-template-areas:
    "intro canvas canvas"
    "intro canvas canvas"
    "anc anc anc";
  height:100vh;
}

.intro{
  grid-area: intro;
}

.js-danger-popup{
  padding:10px;
  color:white;
  background:red;
  font-weight:bold;
}

.drop__target{
  width:200px;
  height:200px;
  border: 3px dashed grey;
}

.upload__row{
  display:flex;
  flex-flow:column nowrap;
}
.upload__label{
  display:block;
}

.button--upload{
  display:block;
}

.strip{
  list-style: none;
}

.canvas-wrapper{
  grid-area: canvas;
  display:flex;
  align-items: center;
  justify-content: center;
}

.ancillary{
  grid-area: anc;
}


.strip{
  grid-area: strip;
  list-style:none;
  padding:0;
}

.strip__item{
  display:inline-block;
}

.strip__img{
  max-width:20vh;
  height:auto;
}
